<!DOCTYPE html>
<html>

<head>
    <title>IVRE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/static/format.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
                title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <img src="../static/baby.jpg" style="width:45%;" class="w3-round"><br><br>
            <h4><b>IVRE</b></h4>
            <!-- <p class="w3-text-grey">Template by W3.CSS</p> -->
        </div>
        <div class="w3-bar-block">
            <a href="#estgame" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                    class="fa fa-th-large fa-fw w3-margin-right"></i>IVRE GAME</a>
            <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
            <!-- <a href="#cite" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-envelope fa-fw w3-margin-right"></i>CITE</a> -->
        </div>
        <!-- <div class="w3-panel w3-large">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div> -->
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Header -->

        <header>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                    class="fa fa-bars"></i></span>
            <div class="w3-container">
                <div style="font-size:30px;margin:1%;">
                    <h1><b>IVRE: Interactive Visual Reasoning under Uncertainty</b></h1>
                </div>
                <h4 id="estgame"><b>IVRE Game</b></h4>
                <div class="w3-section w3-bottombar w3-padding-16">
                    <!-- <span class="w3-margin-right">Filter:</span> -->
                    <form action="/new/" method="post">
                        <button class="w3-button w3-black">Gamepage</button>

                        <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>New
                            Game</button>
                    </form>
                    <!-- <button class="w3-button w3-white w3-hide-small"><i
                            class="fa fa-photo w3-margin-right"></i>Photos</button>
                    <button class="w3-button w3-white w3-hide-small"><i
                            class="fa fa-map-pin w3-margin-right"></i>Art</button> -->
                </div>
                <div class="box">
                    <div id="curr" class="left">
                        <b>
                            <div style="float:left;font-size:16px;margin:1%;" id="panel">Current Panel: </div>
                        </b>
                        <b>
                            <div style="float:right;font-size:16px;margin:1%;" id="reward">Reward/Total Reward: </div>
                        </b>
                        <div id="currfig" class="3-hover-opacity"></div>
                        <!-- <img id="curr_panel" src="../static/test.png"><br /> -->
                    </div>
                    <div id="ans" class="left">
                        <div class="up">
                            <b>
                                <div style="font-size:16px;margin:1%;">Blickets: </div>
                            </b>
                            <div id="blickets" class="3-hover-opacity" style="height: 20%;"></div>
                        </div>
                        <div class="down">
                            <b>
                                <div style="font-size:16px;margin:1%;">Non_Blickets: </div>
                            </b>
                            <div id="non_blickets" class="3-hover-opacity" style="height: 20%;"></div>
                            <!-- <img id="curr_panel" src="../static/test.png"><br /> -->
                        </div>
                    </div>
                    <div class="right">
                        <b>
                            <div align="center" style="font-size:16px;margin:1%;" id="panel">History Panel</div>
                        </b>
                        <div class="left">
                            <h5>Context</h5>
                            <div id="0" class="w3-hover-opacity"></div>
                            <div id="1" class="w3-hover-opacity"></div>
                            <div id="2" class="w3-hover-opacity"></div>
                            <div id="3" class="w3-hover-opacity"></div>
                        </div>
                        <div class="right">
                            <h5>Trial</h5>
                            <div id="7" class="w3-hover-opacity"></div>
                            <div id="8" class="w3-hover-opacity"></div>
                            <div id="9" class="w3-hover-opacity"></div>
                        </div>
                        <div class="middle">
                            <h5>Trial</h5>
                            <div id="4" class="w3-hover-opacity"></div>
                            <div id="5" class="w3-hover-opacity"></div>
                            <div id="6" class="w3-hover-opacity"></div>
                        </div>
                    </div>
                </div>
                <b>
                    <div style="font-size:16px;margin:1%;" id="bt"></div>
                </b>
                <div id="current" class="belief">
                    <div id="obj_0" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_1" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_2" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_3" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_4" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_5" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_6" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_7" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_8" class="a w3-hover-opacity">
                    </div>
                    <div id="obj_9" class="a w3-hover-opacity">
                    </div>
                </div>
                <form class="w3-center" method="POST">
                    <div id="boxes" class="choose">
                        <div class="a">
                            <input class="w3-check" type="checkbox" name='bt' value='0'>
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='1' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='2' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='3' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='4' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='5' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='6' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='7' name="bt">
                        </div>
                        <div class="a">
                            <input class="w3-check" type="checkbox" value='8' name="bt">
                        </div>
                    </div>
                    {{ form.guess(id="guess", class="w3-button w3-white w3-center") }}
                    &nbsp&nbsp&nbsp&nbsp
                    {{ form.trial(id="trial", class="w3-button w3-white w3-center") }}
                </form>
                <!-- <form action="/forward/" class="w3-center" method="post">
                    <button class="w3-button w3-white w3-center" id="guess"><i class="fa"></i>Guess!</button>
                    &nbsp&nbsp&nbsp&nbsp
                    <button class="w3-button w3-white w3-center" id="trial"><i class="fa"></i>Trial!</button>
                </form> -->
            </div>
        </header>

        <!-- <div id="flagid" d="{{flag}}" style="display:none"></div>
                <div id="numid" d="{{num}}" style="display:none"></div> -->

        <!-- First Photo Grid-->
        <!-- <div class="w3-row-padding">
                    <div class="w3-third w3-container w3-margin-bottom">
                        <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Lorem Ipsum</b></p>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                        ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Lorem Ipsum</b></p>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                        ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <div class="w3-third w3-container">
                <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Lorem Ipsum</b></p>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                        ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
        </div> -->

        <!-- Pagination -->
        <!-- <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
        </div> -->

        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4 id="about"><b>About IVRE</b></h4>
            <p>
                One of the fundamental cognitive abilities of humans is to quickly resolve uncertainty by generating
                hypotheses and testing them via active trials. Encountering a novel phenomenon accompanied by ambiguous
                cause-effect relationships, humans make hypotheses against data, conduct inferences from observation,
                test their theory via experimentation, and correct the proposition if inconsistency arises. These
                iterative processes persist until the underlying mechanism becomes clear. In this work, we devise the
                IVRE (pronounced as "ivory") environment for evaluating artificial agents' reasoning ability
                under uncertainty. IVRE is an interactive environment featuring rich scenarios centered around
                Blicket detection. Agents in IVRE are placed into environments with various ambiguous
                action-effect pairs and asked to figure out each object's role. Agents are encouraged to propose
                effective and efficient experiments to validate their hypotheses based on observations and gather more
                information. The game ends when all uncertainties are resolved or the maximum number of trials is
                consumed. By evaluating modern artificial agents in IVRE, we notice a clear failure of today's
                learning methods compared to humans. Such inefficacy in interactive reasoning ability under uncertainty
                calls for future research in building humanlike intelligence.
            </p>
            <hr>

            <!-- <h4>Technical Skills</h4> -->
            <!-- Progress bars / Skills -->
            <!-- <p>Photography</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
            </div>
            <p>Web Design</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:85%">85%</div>
            </div>
            <p>Photoshop</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:80%">80%</div>
            </div>
            <p>
                <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
                    <i class="fa fa-download w3-margin-right"></i>Download Resume
                </button>
            </p> -->
            <hr>

        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-dark-grey">
            <div class="w3-row-padding">

            </div>

            <div class="w3-third">
                <h3>Key Words</h3>
                <p>
                    <span class="w3-tag w3-black w3-margin-bottom">Artificial intelligence</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Reasoning</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Uncertainty</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Few-shot</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Abstract Reasoning</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Scientific Thinking</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Causality</span>
                    <!-- <span
                            class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span
                            class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
                        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span
                            class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span> -->
                </p>
            </div>

    </div>
    </footer>

    <div id="flagid" d="{{flag}}" style="display:none"></div>
    <div id="numid" d="{{num}}" style="display:none"></div>
    <div id="rewardid" d="{{reward}}" style="display:none"></div>
    <div id="trewardid" d="{{total_reward}}" style="display:none"></div>
    <div id="epsid" d="{{eps_id}}" style="display:none"></div>
    <div id="finishid" d="{{finished}}" style="display:none"></div>

    <!-- End page content -->
    </div>


    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        flag = document.getElementById('flagid').getAttribute('d');
        num = document.getElementById('numid').getAttribute('d');
        reward = document.getElementById('rewardid').getAttribute('d');
        total_reward = document.getElementById('trewardid').getAttribute('d');
        eps_id = document.getElementById('epsid').getAttribute('d');
        finished = document.getElementById('finishid').getAttribute('d');
        function set_bt_title() {
            bt = document.getElementById('bt');
            if (flag == "belief") {
                bt.innerHTML = "<p>Your current belief: </p>";
                document.getElementById("trial").setAttribute("disabled", true);
                document.getElementById("guess").removeAttribute("disabled");
            }
            else {
                bt.innerHTML = "<p>Your trial: </p>";
                document.getElementById("guess").setAttribute("disabled", true);
                document.getElementById("trial").removeAttribute("disabled");
            }
        };

        async function set_pic() {
            for (var i = 0; i < num; i++) {
                const img_path = await fetch("/pic/figs/" + eps_id.toString() + "/" + i.toString())
                    .then(response => response.text())
                console.log(i, img_path)
                obj = document.getElementById(i.toString());
                obj.innerHTML = '<img id="curr_panel" src=' + img_path.toString() + '>';
            }
        };

        async function set_curr_pic() {
            console.log(num)
            const img_path = await fetch("/pic/figs/" + eps_id.toString() + "/" + (num - 1).toString())
                .then(response => response.text())
            console.log(img_path)
            obj = document.getElementById("currfig");
            obj.innerHTML = '<img id="curr_panel" src=' + img_path.toString() + '>';
        };

        function set_panel() {
            log_panel = document.getElementById("panel");
            log_panel.innerHTML += num.toString();
            log_panel.innerHTML += "/10";
        };

        async function set_obj() {
            for (var i = 0; i < 9; i++) {
                const img_path = await fetch("/pic/base/" + eps_id.toString() + "/" + i.toString())
                    .then(response => response.text())
                obj = document.getElementById("obj_" + i.toString());
                obj.innerHTML = '<img id="obj_panel" src=' + img_path.toString() + '>';
            };
        }

        function set_reward() {
            log_reward = document.getElementById("reward");
            log_reward.innerHTML += reward.toString();
            log_reward.innerHTML += "/";
            log_reward.innerHTML += total_reward.toString();;
        };

        async function set_finished() {
            let element_1 = document.getElementById("boxes");
            let element_2 = document.getElementById("currfig");
            let element_3 = document.getElementById("ans");
            if (finished == 1) {
                console.log(finished)
                document.getElementById("guess").setAttribute("disabled", true);
                document.getElementById("trial").setAttribute("disabled", true);
                element_1.setAttribute("hidden", "hidden");
                element_2.setAttribute("hidden", "hidden");
                element_3.removeAttribute("hidden");
                const blicket = await fetch("/pic/base/" + eps_id.toString() + "/101")
                    .then(response => response.text())
                obj = document.getElementById("blickets");
                obj.innerHTML = '<img id="obj_panel" src=' + blicket.toString() + '>';
                const non_blicket = await fetch("/pic/base/" + eps_id.toString() + "/102")
                    .then(response => response.text())
                obj = document.getElementById("non_blickets");
                obj.innerHTML = '<img id="obj_panel" src=' + non_blicket.toString() + '>';
                obj = document.getElementById("panel");
                if (reward == 20) {
                    obj.innerHTML = 'YOU WIN!';
                }
                else {
                    obj.innerHTML = 'YOU LOSE!';
                }
            }
            else {
                element_1.removeAttribute("hidden");
                element_2.removeAttribute("hidden");
                element_3.setAttribute("hidden", "hidden");
            }
        }

        set_bt_title();
        set_curr_pic();
        set_pic();
        set_obj();
        set_panel();
        set_reward();
        set_finished();
    </script>

</body>

</html>